.navbar-brand{
    font-size: 40px;
}

.bg-custom-1 {
    background-image:linear-gradient(20deg, #5284f0 0% , #041e50 100%);
}

.search-bar{
    font-size:30px;
    font-weight: bold;
}

.city-name{
    font-size:30px;
    font-weight: bold;
}
.date{
    font-size:30px;
    font-weight: bold;
}
.fore{
    background-color: rgb(16, 16, 47);
   

}